 <!-- ==================== Start Intro ==================== -->
 <section class="intro-section section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="htit sm-mb30">
                    <h4>Who We Are ?</h4>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-8">
                <div class="text">
                    <p class="wow txt mb-10" data-splitting>We develop creative solutions for small and big brands
                        alike,
                        build authentic product
                        identities and much more.Lorem ipsum dolor sit amet, consectetur adipiscing elit sit non
                        facilisis vitae eut.</p>
                    <p class="wow txt" data-splitting>lorem in id tristique
                        in elementum leo nisi eleifend placerat magna lacus elementum ornare vehicula odio
                        posuere quisque ultrices tempus cras id blandit maecenas in ornare quis dolor tempus
                        risus vitae feugiat fames aliquet sed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== End Intro ==================== -->