 <!-- ==================== Start block-sec ==================== -->
    <section class="block-sec">
        <div class="background bg-img pt-100 pb-0 parallaxie" data-background="img/bg-vid.jpg" data-overlay-dark="5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="vid-area">
                            <span class="text">Watch Video</span>
                            <div class="vid-icon">
                                <a class="vid" href="https://vimeo.com/127203262">
                                    <div class="vid-butn">
                                        <span class="icon">
                                            <i class="fas fa-play"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="testim-box">
                            <div class="head-box">
                                <h6 class="wow fadeIn" data-wow-delay=".5s">Our Clients</h6>
                                <h4 class="wow fadeInLeft" data-wow-delay=".5s">What Client's Say?</h4>
                            </div>
                            <div class="slic-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="assets//img/clients/1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="assets//img/clients/2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="assets//img/clients/3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name ">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== End block-sec ==================== -->