[viewBag]
==
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDVX8GN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Preloader -->
<div class="preloader-outer">
	<div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
</div>

<!-- Navbar 1-1 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class=
            "navbar-toggle collapsed" data-target="#navbar" data-toggle=
            "collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class=
            "icon-bar"></span> <span class="icon-bar"></span></button>

            <!-- Logo -->
            <a class="navbar-brand" href="http://www.kraftd.co.ke">KRAFT DIGITAL</a>
            <span class="slogan"> </span>
            <!-- Logo end -->

        </div>
        <div class="navbar-collapse collapse" id="navbar">

        	<div class="navbar-right">
            
                <!-- Menu -->
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a href="#">Branding</a>
                    </li>
                    <li>
                        <a href="#">Social Media</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="http://kraftdigital.pixieset.com" class="external">Photography</a>
                    </li>
                      <li>
                        <a href="/blog" class="external">Blog</a>
                                          </li>
                </ul>
                <!-- Menu end -->

                <!-- Social Icons -->
                <ul class="nav navbar-nav social">
                    <li><a href="tel:+254722145776" class="external"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:info@kraftd.co.ke" class="external"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
                
            </div>
            
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- Navbar 1-1 end -->