 <!-- ==================== Start Blog ==================== -->

    <section class="blog-crv sub-bg">
        <div class="stories">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 no-padding">
                        <div class="swiper-container swiper-img">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <div class="img">
                                            <img class="thumparallax" src="assets/img/blog/1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <div class="img">
                                            <img class="thumparallax" src="assets/img/blog/2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".3s">
                                        <div class="img">
                                            <img class="thumparallax" src="assets/img/blog/3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 no-padding valign">
                        <div class="swiper-container swiper-content">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".6s">
                                        <div class="content">
                                            <div class="tags">
                                                <a href="#0">Trending</a>
                                            </div>
                                            <div class="info">
                                                <a href="#0">
                                                    <i class="far fa-clock"></i>
                                                    06 Aug 2019
                                                </a>
                                                <a href="#0">
                                                    by Alex Morgan
                                                </a>
                                            </div>
                                            <div class="title">
                                                <h4><a href="#0">Create The Lifestyle You
                                                        Really Desire This World</a>
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Success is no accident. It is hard work, perseverance,
                                                    learning,
                                                    studying, sacrifice and most of all, love of what you
                                                    are doing.
                                                </p>
                                            </div>
                                            <div class="more">
                                                <a href="blog-details.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".6s">
                                        <div class="content">
                                            <div class="tags">
                                                <a href="#0">Trending</a>
                                            </div>
                                            <div class="info">
                                                <a href="#0">
                                                    <i class="far fa-clock"></i>
                                                    06 Aug 2019
                                                </a>
                                                <a href="#0">
                                                    by Alex Morgan
                                                </a>
                                            </div>
                                            <div class="title">
                                                <h4><a href="#0">List of The Best Investment
                                                        Projects</a></h4>
                                            </div>
                                            <div class="text">
                                                <p>Success is no accident. It is hard work, perseverance,
                                                    learning,
                                                    studying, sacrifice and most of all, love of what you
                                                    are doing.
                                                </p>
                                            </div>
                                            <div class="more">
                                                <a href="blog-details.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item wow fadeIn" data-wow-delay=".6s">
                                        <div class="content">
                                            <div class="tags">
                                                <a href="#0">Trending</a>
                                            </div>
                                            <div class="info">
                                                <a href="#0">
                                                    <i class="far fa-clock"></i>
                                                    06 Aug 2019
                                                </a>
                                                <a href="#0">
                                                    by Alex Morgan
                                                </a>
                                            </div>
                                            <div class="title">
                                                <h4><a href="#0">World Best Business Website
                                                        Company</a></h4>
                                            </div>
                                            <div class="text">
                                                <p>Success is no accident. It is hard work, perseverance,
                                                    learning,
                                                    studying, sacrifice and most of all, love of what you
                                                    are doing.
                                                </p>
                                            </div>
                                            <div class="more">
                                                <a href="blog-details.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider setting -->
                <div class="controls">
                    <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                        <i class="fas fa-caret-up"></i>
                    </div>
                    <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Blog ==================== -->