[viewBag]
==
<!-- Section clients -->
<section id="section-1-7" class="clients odd">
	<div class="container">
		<div class="row text-center">

			<!-- item 1 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture8.png" alt="clients" />
				</div>
			</div>

			<!-- item 2 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture9.png" alt="clients" />
				</div>
			</div>

			<!-- item 3 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture10.png" alt="clients" />
				</div>
			</div>

			<!-- item 4 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture11.png" alt="clients" />
				</div>
			</div>

			<!-- item 5 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture1.png" alt="clients" />
				</div>
			</div>

			<!-- item 6 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture2.png" alt="clients" />
				</div>
			</div>
			<!-- item 7 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture3.png" alt="clients" />
				</div>
			</div>

			<!-- item 8 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture4.png" alt="clients" />
				</div>
			</div>
			
			<!-- item 9 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture5.png" alt="clients" />
				</div>
			</div>

			<!-- item 10 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture6.png" alt="clients" />
				</div>
			</div>
			
			<!-- item 11 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture7.png" alt="clients" />
				</div>
			</div>

			<!-- item 8 -->
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="client-item">
					<img src="/themes/kraftmain/assets/images/clients/Picture6.png" alt="clients" />
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Section client end -->