<div class="comments-area">
    <h5>Comments :</h5>
    <div class="item">
        <div class="comment-img">
            <img src="img/blog/01.jpg" alt="">
        </div>
        <div class="info">
            <h6>Jorden Griffin - <span> 6 Aug 2019</span></h6>
            <span class="replay"><a href="#0">Replay <i class="fas fa-reply"></i></a></span>
            <p>the main component of a healthy environment for self esteem is that it needs
                be nurturing. The main compont of a healthy environment.</p>
        </div>
    </div>
    <div class="item relped">
        <div class="comment-img">
            <img src="img/blog/01.jpg" alt="">
        </div>
        <div class="info">
            <h6>Jorden Griffin - <span> 6 Aug 2019</span></h6>
            <span class="replay"><a href="#0">Replay <i class="fas fa-reply"></i></a></span>
            <p>the main component of a healthy environment for self esteem is that it needs
                be nurturing. The main compont of a healthy environment.</p>
        </div>
    </div>
    <div class="item">
        <div class="comment-img">
            <img src="img/blog/01.jpg" alt="">
        </div>
        <div class="info">
            <h6>Jorden Griffin - <span> 6 Aug 2019</span></h6>
            <span class="replay"><a href="#0">Replay <i class="fas fa-reply"></i></a></span>
            <p>the main component of a healthy environment for self esteem is that it needs
                be nurturing. The main compont of a healthy environment.</p>
        </div>
    </div>
</div>

<div class="comment-form">
    <h5>Add Comment :</h5>
    <div class="form">
        <form action="">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea placeholder="Your Comment"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group text-center">
                        <a href="#0" class="butn light curve full-width">Comment</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>