[viewBag]
==
<!-- Section contact -->
<section id="section-1-8" class="contact">
	<div class="container">

		<!-- section header -->
		<div class="section-header text-center">
			<h2>Get In Touch</h2>
			<p>Call us, Lets talk about cats, selfies or your next brand strategy.</p>
			<p>We also think offices are booring so any coffee house would do for our next meeting.</p>
		</div>

		<div class="container container-600">

			<!-- forms -->
			<form method="post" >

				<div class="row"><!-- Row -->

					<div class="col-md-6 col-sm-6 col-xs-12"><!-- Name input -->
						<div class="form-group">
							<input type="text" class="form-control" name="ContactName" id="ContactName" placeholder="Your name" required>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
						<div class="form-group">
							<input type="email" class="form-control" id="ContactEmail" name="ContactEmail" placeholder="Email address" required>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12"><!-- Subject input -->
						<div class="form-group">
							<input type="text" class="form-control" id="ContactSubject" name="ContactSubject" placeholder="Subject" required>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12"><!-- Message textarea -->
						<div class="form-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="6" placeholder="Message" required></textarea>
						</div>
					</div>

				</div><!-- Row end -->

				<button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-icon pull-left"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send message</button><!-- Send Button -->

			</form>

		</div>

	</div>
</section>
<!-- Section contact end -->