[viewBag]
==
<!-- Section describe 4 -->
<section id="section-1-5" class="describe-4">
	<div class="container">

		<div class="row flex">

			<!-- image -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="image">
					<!-- image layers -->
					<img src="assets/images/layer1.png" alt="describe" class="layer1 t40-1" />
					<img src="assets/images/layer2.png" alt="describe" class="layer2 t40-2" />
					<img src="assets/images/layer3.png" alt="describe" class="layer3 t40-3" />
				</div>
			</div>

			<!-- text -->
			<div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
				<h2 class="light">Another App Showcase Section with Animated Screens</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris commodo consequat.</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>

		</div>

	</div>
</section>
<!-- Section describe 4 end -->