[viewBag]
==
<!-- Section describe 5 -->
<section id="section-1-6" class="describe-5 odd">
	<div class="container">

		<div class="row flex">

			<!-- text -->
			<div class="col-md-6 col-sm-12 col-xs-12">				
				<h2 class="light">Beautiful Smooth Animation for Your App Screens</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris commodo consequat.</p>

				<a href="#" class="btn btn-default">Learn More</a>
			</div>

			<!-- image -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<!-- image layers -->
				<div class="image">
					<img src="assets/images/layer4.png" alt="describe" class="layer1 t40-1" />
					<img src="assets/images/layer5.png" alt="describe" class="layer2 t40-2" />
					<img src="assets/images/layer6.png" alt="describe" class="layer3 t40-3" />
				</div>
			</div>

		</div>

	</div>
</section>
<!-- Section describe 5 end -->