[viewBag]
==
<!-- Section describe 1 -->
<section id="section-1-3" class="describe-1">
	<div class="container">

		<div class="row flex"><!-- Row begin -->

			<!-- Image -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="image">
					<img src="/themes/kraftmain/assets/images/phones.png" alt="describe" class="b20-1" />
				</div>
			</div>

			<!-- Text -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<h2 class="light">Brand Development & Identity Design</h2>
				<p>We are a creative agency that creates powerful brand stories, bespoke designs and digital strategies to deliver meaningful business result </p>
				<ul class="list-style pb-15">
					<li>Strategy and Positioning</li>
					<li>Brand Identity Design</li>
					<li>Custom Logo Development</li>
					<li>Marketing Collateral Design</li>
				</ul>
			</div>

		</div><!-- Row end -->

	</div>
</section>
<!-- Section describe 1 end -->