[viewBag]
==
<!-- Section describe 2 -->
<section id="section-1-4" class="describe-2 odd">
	<div class="container">

		<div class="row flex">

			<!-- text -->
			<div class="col-md-6 col-sm-12 col-xs-12">				
				<h2 class="light">Be Social, Dont Do social Media! </h2>
				<p>In the online business world today, having a strong social media presence is just as important, or even more important, than having a website. With Social Vantage, you will never have to worry about updating or growing your own social media accounts. We will professionally manage your business’s social media channels to increase engagement, implement effective lead generation campaigns and increase the social presence all together!</p>

				<a href="#section-1-8" class="btn btn-default">Ask us more</a>
			</div>

			<!-- image -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="image">
					<img src="/themes/kraftmain/assets/images/cloud.png" alt="describe" class="r30-1" />
				</div>
			</div>

		</div>

	</div>
</section>
<!-- Section describe 2 end -->