[viewBag]
==
<!-- Section footer 1 -->
<footer id="footer-1" class="footer">
	<div class="container">

		<!-- copyright text -->
		<span class="copyright">© Copyright Kraft Digital, All Rights Reserved. <br />Crafted with love and lots of <i class="fa fa-coffee" aria-hidden="true"></i></span>

		<!-- social icons -->
		<ul class="social-icons">
        	<li><a href="https://web.facebook.com/kraftdigital"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        	<li><a href="http://twitter.com/kraft_digital"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        	<li><a href="https://www.linkedin.com/company/kraft-digital"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        	<li><a href="http://instagram.com/kraft_digital"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        	<li><a href="http://pinterest.com/kraft_digital"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        	<li><a href="http://behance.net/Sombo"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
        </ul>

	</div>
</footer>
<!-- Section footer 1 end -->