[viewBag]
==
<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MDVX8GN');</script>
<!-- End Google Tag Manager -->

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Kraft Digital - Everything Digital</title>
	<meta name="description" content="Kraft Digital - Everything Digital">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/themes/kraftmain/assets/images/kraft logosm.png">
	
	<meta name="p:domain_verify" content="16a94feae5b2c92ed8b567f6cfe1a470"/>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="/themes/kraftmain/assets/bootstrap/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/font-awesome.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/et-line.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/magnific-popup.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/hover-min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/themes/kraftmain/assets/css/style.css" type="text/css" media="all">



    <link type="text/css" rel="stylesheet" href="/themes/kraftmain/assets/css/colors/color-3.css" title="color-3" />
    
    

</head>