[viewBag]
==
<section id="section-1-1" class="hero hero-bg-1 layout-4">
	<div class="container">

		<!-- call to action -->
		<div class="cta text-center relative z-1">

			<!-- text -->
			<h2 class="b20-1"><span class="strong">Kraft Digital |</span> Design Redefined</h2>
			
			<p>Kraft Digital is a Creative Engagement Agency that creates powerful brand stories, bespoke designs and digital strategies to deliver meaningful business result.<br/> 
We are the only digitally-born agency within a traditional media, entertainment, and content empire.
 </p>
			
			<!-- buttons -->
			<div class="buttons b20-3">
				<ul class="icon-button">
					<li><a href="#" class="default hvr-float-shadow"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
					<li><a href="#" class="default hvr-float-shadow"><i class="fa fa-magic" aria-hidden="true"></i></a></li>
					<li><a href="#" class="default hvr-float-shadow"><i class="fa fa-camera-retro" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			
		</div>

	</div>
           <!-- Phone Image -->
	        <div class="text-center relative z-1 b20-4">
		
	</div>
	<!-- Overlay -->
	<div class="overlay-light"></div>

</section>
<!-- Section Hero 4-1 end -->
