[viewBag]
==
<section id="section-1-2" class="work-process colored">
	<div class="container">

		<!-- section header -->
		<div class="section-header text-center">
			<h2>How It Works</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
		</div>

		<div class="row">

			<!-- item 1 -->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="item text-center">
					<div class="icon-wrap">
						<span class="step s1-1">1</span>
						<span class="icon-tools-2"></span>
					</div>
					<h3>Work with Builder</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>

			<!-- item 2 -->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="item text-center">
					<div class="icon-wrap">
						<span class="step s1-2">2</span>
						<span class="icon-tools"></span>
					</div>
					<h3>Edit the Items</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>

			<!-- item 3 -->
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="item text-center">
					<div class="icon-wrap">
						<span class="step s1-3">3</span>
						<span class="icon-layers"></span>
					</div>
					<h3>Export a Website</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Section how it works 2 end -->