<!-- ==================== Start Navbar ==================== -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="#">
            <img src="assets/img/logo-light.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>
        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Home</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/index.html">Main Home</a>
                        <a class="dropdown-item" href="/index2.html">Creative Agency</a>
                        <a class="dropdown-item" href="/index.html">Digital Agency</a>
                        <a class="dropdown-item" href="/index4.html">Business One Page</a>
                        <a class="dropdown-item" href="/index3.html">Corporate Business</a>
                        <a class="dropdown-item" href="/index6.html">Modern Agency</a>
                        <a class="dropdown-item" href="/index7.html">Freelancer</a>
                        <a class="dropdown-item" href="/index8.html">Architecture</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Works</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/showcase.html">Showcase Parallax</a>
                        <a class="dropdown-item" href="/showcase4.html">Showcase Carousel</a>
                        <a class="dropdown-item" href="/showcase3.html">Showcase Circle</a>
                        <a class="dropdown-item" href="/works.html">Portfolio Masonry</a>
                        <a class="dropdown-item" href="/works2.html">Portfolio Filtering</a>
                        <a class="dropdown-item" href="/works3.html">Portfolio Gallery</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Blog</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blog.html">Blog Standerd</a>
                        <a class="dropdown-item" href="/blog-list.html">Blog List</a>
                        <a class="dropdown-item" href="/blog-grid.html">Blog Grid</a>
                        <a class="dropdown-item" href="/blog-details.html">Blog Details</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- ==================== End Navbar ==================== -->