<!-- ==================== Start numbers ==================== -->
<section class="number-sec section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="sec-head  text-center">
                    <h6 class="wow fadeIn" data-wow-delay=".5s">FUN FACTS</h6>
                    <h3 class="wow color-font">Pleasure in the job puts perfection in the work.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item no-bord sm-mb50">
                    <span class="icon pe-7s-smile"></span>
                    <h3 class=""><span class="count">2400</span></h3>
                    <p class="wow txt" data-splitting>People who are commited to their
                        management tasks.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item no-bord sm-mb50">
                    <span class="icon pe-7s-portfolio"></span>
                    <h3 class=""><span class="count">133</span></h3>
                    <p class="wow txt" data-splitting>Signed projects that have been
                        confirmed complete!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item no-bord">
                    <span class="icon pe-7s-medal"></span>
                    <h3 class=""><span class="count">46</span></h3>
                    <p class="wow txt" data-splitting>International awards and cups
                        for design projects.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== End numbers ==================== -->