[viewBag]
==
<!-- Section Price 1 -->
<section id="section-1-9" class="pricing odd">
	<div class="container">

		<!-- section header -->
		<div class="section-header text-center">
			<h2>Choose the Plan</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
		</div>

		<div class="row">

			<!-- Plan 1 -->
			<div class="col-md-4 col-sm-4 col-xs-12 l40-1">
				<div class="price-table">
					<div class="header text-center">
						<span class="icon-happy"></span>
						<h2>Personal</h2>
						<h1><span class="currency">$</span>19</h1>
					</div>
					<div class="content">
						<ul class="list-style">
							<li>Stunning design</li>
							<li>Drag and drop page builder</li>
							<li>+80 Unique section elements</li>
							<li>No code knowledge required</li>
							<li>Only in $17</li>
						</ul>
					</div>
					<div class="footer text-center">
						<a href="#" class="btn btn-default">Purchase</a>
					</div>
				</div>
			</div>

			<!-- Plan 2 Recommended -->
			<div class="col-md-4 col-sm-4 col-xs-12 b40-1">
				<div class="price-table recommended">
					<div class="header text-center">
						<span class="icon-heart"></span>
						<h2>Premium</h2>
						<h1><span class="currency">$</span>24</h1>
					</div>
					<div class="content">
						<ul class="list-style">
							<li>Stunning design</li>
							<li>Drag and drop page builder</li>
							<li>+80 Unique section elements</li>
							<li>No code knowledge required</li>
							<li>Only in $17</li>
						</ul>
					</div>
					<div class="footer text-center">
						<a href="#" class="btn btn-default">Purchase</a>
					</div>
				</div>
			</div>

			<!-- Plan 3 -->
			<div class="col-md-4 col-sm-4 col-xs-12 r40-1">
				<div class="price-table">
					<div class="header text-center">
						<span class="icon-lightbulb"></span>
						<h2>Ultimate</h2>
						<h1><span class="currency">$</span>40</h1>
					</div>
					<div class="content">
						<ul class="list-style">
							<li>Stunning design</li>
							<li>Drag and drop page builder</li>
							<li>+80 Unique section elements</li>
							<li>No code knowledge required</li>
							<li>Only in $17</li>
						</ul>
					</div>
					<div class="footer text-center">
						<a href="#" class="btn btn-default">Purchase</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- Section Price 1 end -->