[viewBag]
==
<!-- Section blog 1 -->
<section id="section-1-6" class="blog">
	<div class="container">

		<!-- section header -->
		<div class="section-header text-center">
			<h2>Recent Posts</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
		</div>

		<div class="row">

			<!-- Item 1 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="item">
					<div class="thumb">
						<div class="icon-wrap">
							<a href="#">
								<span class="icon-attachment icon"></span>
							</a>
						</div>
						<div class="overlay"></div>
						<img src="assets/images/blog-1.jpg" alt="blog" />
					</div>
					<h2 class="title"><a href="#">Tutorial: How to reset your Apple ID password</a></h2>
					<span class="date">Posted on 24 August, 2016</span>
					<p>Lorem ipsum dolor sit amet, cum partem melius nostrum te, cu pri quis dicant accusamus.</p>
					<a href="#" class="btn btn-default">Read more</a>
				</div>
			</div>

			<!-- Item 2 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="item">
					<div class="thumb">
						<div class="icon-wrap">
							<a href="#">
								<span class="icon-attachment icon"></span>
							</a>
						</div>
						<div class="overlay"></div>
						<img src="assets/images/blog-2.jpg" alt="blog" />
					</div>
					<h2 class="title"><a href="#">A mega tech merger, Paris bans cars, and more</a></h2>
					<span class="date">Posted on 24 August, 2016</span>
					<p>Lorem ipsum dolor sit amet, cum partem melius nostrum te, cu pri quis dicant accusamus.</p>
					<a href="#" class="btn btn-default">Read more</a>
				</div>
			</div>

			<!-- Item 3 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="item">
					<div class="thumb">
						<div class="icon-wrap">
							<a href="#">
								<span class="icon-attachment icon"></span>
							</a>
						</div>
						<div class="overlay"></div>
						<img src="assets/images/blog-3.jpg" alt="blog" />
					</div>
					<h2 class="title"><a href="#">Google lets devs nominate their beta apps</a></h2>
					<span class="date">Posted on 24 August, 2016</span>
					<p>Lorem ipsum dolor sit amet, cum partem melius nostrum te, cu pri quis dicant accusamus.</p>
					<a href="#" class="btn btn-default">Read more</a>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- Section blog 1 end -->