 <!-- ==================== Start Slider ==================== -->
 <header class="slider showcase-full">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="img/portfolio/full/1.jpg" data-overlay-dark="4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    <h1>
                                        <a href="../vie-dark/project-details2.html">
                                            <div class="stroke" data-swiper-parallax="-2000">Midnight</div> <span
                                                data-swiper-parallax="-5000">Snack</span>
                                        </a>
                                        <div class="bord"></div>
                                    </h1>
                                    <div class="discover">
                                        <a href="../vie-dark/project-details2.html"><span>Explore <br> More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="img/portfolio/full/2.jpg" data-overlay-dark="4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    <h1>
                                        <a href="../vie-dark/project-details2.html">
                                            <div class="stroke" data-swiper-parallax="-2000">Fisherman</div> <span
                                                data-swiper-parallax="-5000">Portrait</span>
                                        </a>
                                        <div class="bord"></div>
                                    </h1>
                                    <div class="discover">
                                        <a href="../vie-dark/project-details2.html"><span>Explore <br> More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="img/portfolio/full/3.jpg" data-overlay-dark="4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    <h1>
                                        <a href="../vie-dark/project-details2.html">
                                            <div class="stroke" data-swiper-parallax="-2000">Tribos</div> <span
                                                data-swiper-parallax="-5000">Urbanas</span>
                                        </a>
                                        <div class="bord"></div>
                                    </h1>
                                    <div class="discover">
                                        <a href="../vie-dark/project-details2.html"><span>Explore <br> More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="img/portfolio/full/4.jpg" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    <h1>
                                        <a href="../vie-dark/project-details2.html">
                                            <div class="stroke" data-swiper-parallax="-2000">Monsoon</div> <span
                                                data-swiper-parallax="-5000">in the city</span>
                                        </a>
                                        <div class="bord"></div>
                                    </h1>
                                    <div class="discover">
                                        <a href="../vie-dark/project-details2.html"><span>Explore <br> More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider setting -->
        <div class="txt-botm">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <div>
                    <span>Next Slide</span>
                </div>
                <div><i class="fas fa-chevron-right"></i></div>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <div><i class="fas fa-chevron-left"></i></div>
                <div>
                    <span>Prev Slide</span>
                </div>
            </div>
        </div>
        <div class="swiper-pagination dots"></div>
    </div>
</header>
<!-- ==================== End Slider ==================== -->