<!-- ==================== Start Skills Circle ==================== -->
<section class="skills-circle sub-bg pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item wow fadeInLeft" data-wow-delay=".6">
                                <div class="skill" data-value="0.9">
                                    <span class="custom-font">90%</span>
                                </div>
                                <div class="cont">
                                    <span>Project</span>
                                    <h6>Consulting</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item wow fadeInLeft" data-wow-delay=".3">
                                <div class="skill" data-value="0.75">
                                    <span class="custom-font">75%</span>
                                </div>
                                <div class="cont">
                                    <span>App</span>
                                    <h6>Development</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== End Skills Circle ==================== -->