<section id="subscriber" class="subscribe" style="background:#fff">
    <div class="container">
        <!-- section header -->
        <div class="section-header text-center">
            <h2 style="color:#000000">STAY TUNED!</h2>

            <p style="color:#000000">Trust us. We never send trash messages to you.</p>
        </div>

        <div class="container container-500 user-subscriber">
            <div class="widget_wysija_cont shortcode_wysija">
                <div id="msg-form-wysija-shortcode5905f95e3309e-2" class="wysija-msg ajax"></div>
                <form id="form-wysija-shortcode5905f95e3309e-2" method="post" action="#wysija" class="widget_wysija shortcode_wysija">
                    <p class="wysija-paragraph">


                        <input type="text" name="wysija[user][email]" class="wysija-input validate[required,custom[email]]" title="Email address" placeholder="Email address" value="">



                        <span class="abs-req">
        <input type="text" name="wysija[user][abs][email]" class="wysija-input validated[abs][email]" value="">
    </span>

                    </p>
                    <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">

                    <input type="hidden" name="form_id" value="2">
                    <input type="hidden" name="action" value="save">
                    <input type="hidden" name="controller" value="subscribers">
                    <input type="hidden" value="1" name="wysija-page">


                    <input type="hidden" name="wysija[user_list][list_ids]" value="1">

                </form>
            </div>
        </div>
    </div>
</section>