<!-- ==================== Start Team ==================== -->

    <div class="team-crv section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 valign">
                    <div class="content wow fadeInUp md-mb50" data-wow-delay=".5s">
                        <div class="sub-title">
                            <h6>Our Staff</h6>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h3 class="co-tit custom-font mb-15">We help to create
                            visual strategies.</h3>
                        <p>We are Vie. We create award-winning websites, remarkable brands and cutting-edge
                            apps.Nullam
                            imperdie.</p>
                        <div class="skills-box mt-40">
                            <div class="skill-item">
                                <h6 class="custom-font">UI / UX Design</h6>
                                <div class="skill-progress">
                                    <div class="progres custom-font" data-value="90%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6 class="custom-font">Apps Development</h6>
                                <div class="skill-progress">
                                    <div class="progres custom-font" data-value="80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="img-box">
                        <div class="row">
                            <div class="col-sm-6 toright">
                                <div class="full-width">
                                    <div class="img sizxl mb-30" data-tooltip-tit="Stephanie Lawrence"
                                        data-tooltip-sub="CEO, Colabrio Media">
                                        <img src="assets/img/team/1.jpg" alt="" class="imago wow">
                                    </div>
                                    <div class="img sizmd" data-tooltip-tit="Alex Regelman"
                                        data-tooltip-sub="Co-Founder, Colabrio Media">
                                        <img src="assets/img/team/2.jpg" alt="" class="imago wow">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 toleft valign">
                                <div class="full-width text-left">
                                    <div class="img sizmd mb-30" data-tooltip-tit="Stacey Stamper"
                                        data-tooltip-sub="Network Partner, Colabrio Media">
                                        <img src="assets/img/team/3.jpg" alt="" class="imago wow">
                                    </div>
                                    <div class="img sizsm" data-tooltip-tit="Stephanie Lawrence"
                                        data-tooltip-sub="CEO, Colabrio Media">
                                        <img src="assets/img/team/4.jpg" alt="" class="imago wow">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==================== End Team ==================== -->
