==
<!-- Section review 1 -->
<section id="section-1-8" class="reviews reviews-parallax">
	<div class="container container-600 z-1 relative">

		<!-- wrapper -->
		<div class="reviews-slide-2">
			<!-- Item 1 -->
			<div class="item">
				<div class="user">
					<div class="info clearfix">
						<h3>“You don’t think your way to creative work. You work your way to creative thinking.”</h3>
						
					</div>
				</div>
				<p> George Nelson</p>
			</div>
			
		</div>

	</div>

	<div class="overlay-dark"></div>

</section>
<!-- Section review 1 end -->
