 <!-- ==================== Start Works ==================== -->

    <section class="work-carousel2 metro section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="sec-head">
                        <h6 class="wow fadeIn" data-wow-delay=".5s">Portfolio</h6>
                        <h3 class="wow color-font">Our Recent Web Design & <br> Some Past Projects.</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 no-padding">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="300"></div><img
                                                src="assets/img/portfolio/2.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Innovation and Crafts.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="500"></div><img
                                                src="assets/img/portfolio/1.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Inspiring new space.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="700"></div><img
                                                src="assets/img/portfolio/3.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Natural plus modern.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="400"></div><img
                                                src="assets/img/portfolio/4.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Innovation and Crafts.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="200"></div><img
                                                src="assets/img/portfolio/5.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Inspiring new space.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="500"></div><img
                                                src="assets/img/portfolio/6.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Natural plus modern.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="img">
                                        <span class="imgio">
                                            <div class="wow cimgio" data-delay="300"></div><img
                                                src="assets/img/portfolio/7.jpg" alt="">
                                        </span>
                                    </div>
                                    <div class="cont">
                                        <h6><a href="project-details2.html">art & illustration</a></h6>
                                        <h4><a href="project-details2.html">Inspiring new space.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- slider setting -->
                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                            <i class="ion-ios-arrow-right"></i>
                        </div>
                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                            <i class="ion-ios-arrow-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Works ==================== -->
