==
<!DOCTYPE html>
<html>

{%partial "head"%}

<body>

   {%partial "header"%}

   {%partial "hero"%}

   {%partial "loader"%}

   {%partial "progress_scroll"%}

   {%partial "cursor"%}

   {%partial "navbar"%}

   {%partial "slider"%}

    {%partial "about"%}

    {%partial "services"%}

    {%partial "works"%}

    {%partial "numbers"%}

    {%partial "video"%}

    {%partial "skills_circles"%}

    {%partial "client_brands"%}

    {%partial "cta"%}
    
    {%partial "footer"%}

    {%partial "scripts"%}

</body>

</html>